@import url("https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab|Bebas+Neue&display=swap");

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.landingContainer {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  justify-content: center;
}

.landingFull {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  margin: auto;
}

.landingRedBackground {
  background-color: #b40101;
}

.landingDarkBackground {
  background-color: #333333;
}
