.reportSelector {
  display: flex;
  flex-flow: column-nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.25rem;
}

.reportSelector label {
  display: block;
  margin-bottom: 10px;
}

.reportSelector select {
  border-radius: 3px;
  padding: 5px;
}
