.headerContent {
  display: flex;
  flex-flow: row nowrap;
  flex: 1;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 30px 25px 30px;
  background-color: #333333;
}

@media screen and (max-width: 950px) {
  .headerContent img {
    width: 350px;
  }
}

@media screen and (max-width: 850px) {
  .hamburger {
    display: inline-flex;
  }

  .main_bm-burger-button {
    display: inline-flex;
  }

  .header {
    padding: 15px 25px;
  }
}

@media screen and (max-width: 700px) {
}

@media screen and (max-width: 600px) {
  .headerContent img {
    width: 300px;
  }
}

@media screen and (max-width: 500px) {
  .headerContent img {
    width: 250px;
  }
}

@media screen and (max-width: 400px) {
  .headerContent img {
    width: 200px;
  }
}
