.tryFreeContainer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 40px 0px;
}

.tryFreeBig {
    font-size: 6rem;
    color: #B40101;
    font-family: 'Bebas Neue', cursive;
}

.tryFreeSmall {
    font-size: 2rem;
    color: #B40101;
    font-family: 'Bebas Neue', cursive;
}

.tryFreeButton {
    background-color: #B40101;
    border: none;
    color: white;
    font-size: 1.5rem;
    padding: 15px;
    border-radius: 5px;
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;
    margin: 30px;
}

@media screen and (max-width:950px) {


}

@media screen and (max-width:850px) {


}

@media screen and (max-width:700px) {
    

}