/* Position and sizing of burger button */
.landing_bm-burger-button {
  position: fixed;
  width: 42px;
  height: 38px;
  right: 36px;
  top: 36px;
  display: none;
}

/* Color/shape of burger icon bars */
.landing_bm-burger-bars {
  background-color: #333333;
  border-radius: 2px;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars:hover {
  background-color: white;
}

/* Position and sizing of clickable cross button */
.landing_bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.landing_bm-cross {
  background: #bdc3c7;
}

/*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 2rem;
  color: white;
}

.bm-menu a {
  color: white;
  text-decoration: none;
}

.bm-menu a:link {
  color: white;
  text-decoration: none;
}

.bm-menu a:visited {
  color: white;
  text-decoration: none;
}

.bm-menu a:hover {
  text-decoration: underline;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
