.featuresContainer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  font-family: "Roboto Slab", serif;
  padding: 20px 0 40px 0;
}

.featuresPrice {
  font-size: 4rem;
  color: #b40101;
  padding: 0 10px;
}

.featuresRow {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
}

.featuresULContainer {
  flex-basis: 31%;
  margin: 10px;
  padding: 10px;
  font-family: "Roboto Slab", serif;
  font-size: 1.1rem;
}

.featuresULContainer ul {
  line-height: 2rem;
  text-align: left;
}

.featuresButton {
  background-color: #b40101;
  border: none;
  color: white;
  font-size: 1.5rem;
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
}

.perMonth {
  font-size: 2rem;
  color: #b40101;
  padding: 0 10px;
}

@media screen and (max-width: 950px) {
}

@media screen and (max-width: 850px) {
  .featuresRow {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    width: 100%;
  }

  .featuresULContainer {
    flex-basis: 31%;
    margin: 10px;
    padding: 10px;
    font-family: "Roboto Slab", serif;
    font-size: 1.3rem;
  }

  .featuresULContainer ul {
    line-height: 2rem;
    text-align: center;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
  }
}

@media screen and (max-width: 700px) {
}

@media screen and (max-width: 600px) {
}

@media screen and (max-width: 500px) {
}

@media screen and (max-width: 400px) {
  .featuresPrice {
    font-size: 2rem;
    padding: 0 5px;
  }

  .featuresULContainer {
    font-size: 1.1rem;
  }

  .featuresULContainer ul {
    line-height: 2rem;
  }

  .featuresButton {
    font-size: 1.25rem;
    padding: 15px;
  }
}
