.landingHeader {
  display: flex;
  flex-flow: row nowrap;
  flex: 1;
  justify-content: space-between;
  align-items: flex-end;
  padding: 25px 30px;
}

@media screen and (max-width: 950px) {
  .landingHeader img {
    width: 350px;
  }

  .heroBanner {
    font-size: 2.5rem;
    height: 400px;
  }
}

@media screen and (max-width: 850px) {
  .nav {
    display: none;
  }

  .landingHeader {
    padding: 15px 25px;
  }

  .heroBanner {
    font-size: 2rem;
    height: 300px;
  }

  .landing_bm-burger-button {
    display: inline-flex;
  }
}

@media screen and (max-width: 700px) {
  .heroBanner {
    font-size: 1.5rem;
    height: 300px;
  }
}

@media screen and (max-width: 600px) {
  .landingHeader img {
    width: 300px;
  }
}

@media screen and (max-width: 500px) {
  .landingHeader img {
    width: 250px;
  }
}

@media screen and (max-width: 400px) {
  .landingHeader img {
    width: 200px;
  }
}
